#api_problems{
    background-color: lightcoral; 
    border-style: dotted;
    width: 300px; 
    height: 100px; 
    overflow: scroll;
}
#output{
    width: 100%;
    height: 300px;
    float: left;
    overflow-x: scroll;
    white-space: nowrap;
}
.result_movie{
    border:1px solid black;
    display: inline-block;
    white-space: normal;
    width: 150px;
    height: 250px;
    text-align: center;
    background-color: lightpink;
    overflow: hidden;
}
.result_tv{
    border:1px solid black;
    display: inline-block;
    white-space: normal;
    width: 150px;
    height: 250px;
    text-align: center;
    background-color: lightgreen;
    overflow: hidden;
}
.result_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 150px;
}